@import url('https://fonts.googleapis.com/css2?family=Borel&family=Comfortaa:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-size: 1.4rem;
  font-family: 'Comfortaa', sans-serif;
  color: #283618;
  background-color: #6B8A7A;
}
h1 {
  font-family: 'Poppins';
  text-align: center;
  color: white;
  padding: 0.5rem 0 0.3rem;
}
.btn-submit {
  background-color: #9ac072;
  color: #ffffff;
  font-weight: bold;
  border-color: #d7e8df;
  letter-spacing: 1.2px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn-submit:hover {
  background-color: #88a36a;
  color: #ffffff;
  font-weight: bold;
  border-color: #a8d4bd;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.list-grup-border{
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.actions {
  background-color: #606c38;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.actions button,
.actions select {
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  margin: 0 0.8rem;
}

/* .stats {
  background-color: #bc6c25;
  color: white;
  text-align: center;
  padding: 3.2rem 0;
  font-size: 2rem;
  font-weight: bold;
} */
@media (max-width: 768px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 576px) {
  html{
    font-size: 110%;
  }
  .modal-box {
    width: 95%;
    height: fit-content;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px;
    text-align: center;
    border-radius: 17px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
  }
  .add-form{
    padding: 20px;
  }
}

.btn-delete{
  padding: 0;
  font-size: 28px;
  color: #98967a;
}
.btn-delete:hover{
  color: #ea4f17;
}

.wm{
  color:rgb(21, 255, 224); 
  text-shadow: 1px 4px 5px rgba(0,216,247,0.63);
}
.wm:hover{
  color: #DAD3BE;
  font-size: larger;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  animation-name:show;
  animation-duration: 0.7s;
}


.modal-box {
  /* width: fit-content;
  height: fit-content; */
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 17px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
}
.modal-box h3 {
  color: #2da4fb;
}
.modal-box .input {
  width: 100%;
  margin: 0.5rem 0;
}
.modal-box .input {
  width: 100%;
}
.modal-box .input input {
  width: 80%;
}
